.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.header-logo {
  width: 305px;
}

.header-logotype {
  width: 28px;
}

.header-langchoise {
  user-select: none;
  outline: none;
  border: 0;
  background: 0;
  cursor: pointer;
  font-size: 18px;
  color: var(--light);
}

.header-langchoise option {
  border: 0;
  background: 0;
  color: var(--dark);
}

.header-name {
  font-size: 24px;
  color: var(--white);
}

.header-actions {
  width: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header-theme {
  margin-left: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-signInBtn {
  background: var(--warning);
  color: var(--dark);
}

.header-signInBtn:hover {
  background: #FFC600;
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.header-user {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

/* Tooltip text */
.header-username {
  visibility: hidden;
  background-color: #353535;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;

  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.header-username::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 50%;
  transform: translateX(50%) rotate(180deg);
  border-width: 5px;
  border-style: solid;
  border-color: #353535 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.header-user:hover .header-username {
  visibility: visible;
  opacity: 1;
}

.header-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--grey);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-form {
  display: flex;
  align-items: center;
  background: var(--dark);
  border-radius: 6px;
  height: 27px;
  padding: 7px 10px;
  column-gap: 16px;
  width: 300px;
  position: relative;
}

.header-icon {
  width: 13px;
  height: 13px;
}

.header-icon svg {
  width: 100%;
  height: 100%;
  fill: var(--dark-sea);
}

.header-input {
  flex-grow: 1;
}

.header-input input {
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: var(--grey);
  background: none;
  outline: none;
  width: 100%;
}

.header-account {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.header-favourites {
  position: relative;
  cursor: pointer;
}

.header-account svg {
  width: 24px;
  height: 24px;
}

.header-icon-fav {
  stroke: var(--grey);
  fill: none;
}

.header-icon-cart {
  fill: var(--grey);
}

.header-icon-fav:hover {
  stroke: var(--white);
}

.header-icon-cart:hover {
  fill: var(--white);
}

.header-cart {
  position: relative;
}

.header-count {
  position: absolute;
  width: 14px;
  height: 14px;
  background: var(--violet);
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 10px;
  color: var(--light);
  text-align: center;
  line-height: 16px;
}

.header-box {
  z-index: 9;
  top: 120%;
  position: absolute;
  width: 100%;
  left: 0;
  max-height: 300px;
  overflow-y: auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  background: var(--dark-sea);
  border-radius: 8px;
}

.header-box::-webkit-scrollbar {
  display: none;
}

.header-item {
  font-size: 13px;
  color: var(--grey);
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.header-item:hover {
  color: var(--light);
}

.header-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  height: 50px;
  width: 50px;
}