.light-mode .poster-title {
  color: var(--bg-light-mode);
}

.light-mode .product-cart-product,
.light-mode .category-filter,
.light-mode .item,
.light-mode .user-wrapper {
  background: var(--bg-light-mode);
}


.light-mode .header-langchoise,
.light-mode .header-name,
.light-mode .header-actions,
.light-mode .poster-head,
.light-mode h2,
.light-mode h3,
.light-mode .user-title,
.light-mode .total,
.light-mode .price,
.light-mode .user-link:hover,
.light-mode .category-filter input,
.light-mode .header-form input::placeholder,
.light-mode .header-form input,
.light-mode .user-group input,
.light-mode .user-group input::placeholder {
  color: var(--dark);
}

.light-mode .header-icon-fav,
.light-mode .header-icon-cart,
.light-mode .close .icon {
  stroke: var(--dark-sea);
}

.light-mode .header-icon-fav:hover,
.light-mode .user-close .icon:hover,
.light-mode .header-icon-cart:hover {
  stroke: var(--dark);
}

.light-mode .header-form,
.light-mode .container section,
.light-mode .product-carts,
.light-mode .footer,
.light-mode .user-group input {
  background: var(--grey) !important;
}